@CHARSET "UTF-8";

#map {
	width: 640px;
	height: 480px;
	margin: 0 auto;
}

body {
	background-color: beige;
}

label {
	display: block;
	width: 200px;
}

table, th, td {
	border: 1px solid;
}

.submit {
	margin: 10px 0;
}