 @import url(https://fonts.googleapis.com/css?family=Raleway:400,500);                                                         @CHARSET "UTF-8";

@CHARSET "UTF-8";

#map {
position: absolute;
height: 80vh;
width: 65vw;
margin-left: auto;
margin-right: auto;
z-index: -1;
right: 400px; 
}

/* #loginButton, #saveButton {
display: inline-block;
float: right;
width: 15%;
padding: 10px;
}
 */

.FB{
	display: inline-block;
	float: right;
	margin-top: 100px;
	margin-right: 20px;
	color: #ffffff;
	
}


 h1 {
text-align: center;
font-weight: 700;
text-transform: uppercase;
margin-top: 0;
margin-bottom: 0;
font-size: 100px;
color: #ffffff;
}


h2 {
font-weight: 300;
text-align: center;
font-size: 50px;
margin-bottom: 70px;
color: #ffffff;
}

body {
font-family: 'Raleway', sans-serif;
font-weight: 200;
color: #222;
background-color: #37474F;
position: relative;
right: 0;
margin: 0;
}


/* #saveUserForm, #welcomeMessage {
display: inline-block;
 float: right;
} */

label {
	display: block;
	width: 200px;
}

table, th, td {
	border: 1px solid;

}

.submit {
	margin: 10px 0;
}



/* 

@media (min-width: 400px) {}

Larger than phablet
@media (min-width: 550px) {}

Larger than tablet
@media (min-width: 750px) {}

Larger than desktop
@media (min-width: 1000px) {}

Larger than Desktop HD
@media (min-width: 1200px) {}
 */