@CHARSET "UTF-8";

#map {
	position: absolute;
	top: 10px;
	left: 300px;
	width: 1000px;
	height: 620px;
}

body {
	background-color: beige;
}

label {
	display: block;
	width: 200px;
}

table, th, td {
	border: 1px solid;
}

.submit {
	margin: 10px 0;
}